body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.contenedor{
    width: 60%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;   
}

/*******
CUADRO TEXTO
***/

.cuadro { 
    padding: 50px;
    background-color: #fff;
    transition: all 1s;

}

.cuadro:hover{
    background-color: rgb(206, 167, 236);
    padding: 100px;
}

/*******
CIRCULOS
***/

.circulos{
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

.circulo{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: background-color 1s;
    transition: opacity 1s;
    z-index: 0;
    opacity: .5;
}

.circulo:hover{
    z-index: 1;
    opacity: 1;
}

.uno{
    background-color: #faa;
}

.dos{
    background-color: #afa;
    left: 100px;
}

.tres{
    background-color: #aaf;
    left: 50px;
    top: 100px;
}

/********
BARRAS
********/

.barras{
    min-height: 100px;
    padding: 50px;
    background-color: #fff;
}

.barra {
    width: 20%;
    height: 20px;
    background-color: rgb(0, 21, 255);
    margin-bottom: 5px;
    box-shadow: #000 2px 2px 1px;
 
}

.barra:hover{
    width: 100%;
}

.b1 {transition:all linear 2s 300ms;}
.b2 {transition:all ease 2s 300ms;}
.b3 {transition:all ease-in 2s 300ms;}
.b4 {transition:all ease-out 2s 300ms;}
.b5 {transition:all ease-in-out 2s 300ms;}

/*******
COLORES ESTÁTICOS
***/

.bg-gris-1 {
    background-color: #d9d5d5;
}

.bg-gris-2 {
    background-color: #aaaaaa;
}

