.body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main{
    overflow: hidden;
}

.contenedor{
    width: 60%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid;
}

.card {
    width: 300px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.img-fluid{
    width: 100%;
}

.card img{
    transition: all 300ms;
}

.card img:hover{
    transform: scale(120%);
}


/*
.rotacion img:hover{
    transform: rotate(-10deg);
}

.zoom img:hover{
    transform: scale(150%);
}

.traslacion img:hover{
    transform: translate(15px,10px);
}

.skew img:hover{
    transform: skew(-10deg,15deg);
}
    */

.ejemplo{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    margin: 0 auto;
    transition: all 3s 1s;
}

.ejemplo.visible{
    opacity: 1;
}

/* visible - cambio opac. */

.cambio-background{
    height: 300px;  
    transition: all 1s 1s;
    line-height: 300px;
    text-align: center;
    font-size: 50px;
    color: #eee;
    
}

.cambio-background.visible{
    background-color: black;
}

/* Visible - imagen movimiento*/

.img-fluid{
    width: 100%;
}



.marco-2 img{
    transition: all 1s 1s ;
    transform: translate(-1500px,0);
}

.marco-2.visible img{
    transform: translate(0, 0);
}

/*********
COLORES
********/

.bg-gris-1{
    background-color: #dfd2ff;
}

.bg-blanco{
    background-color: #f7ac0b;
}


 