body {
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

main {
    overflow: hidden;
}

.texto-contenedores{
    font-size: 15px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: justify;
    padding: 30px;
    }
    

/***************************
******************HEADER ESTILO***************/
header,footer{
    background: linear-gradient( to top, #e60b0b,#4d0606);
    color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    overflow: hidden;
}

.header-contenedor{
    text-align: center;
}

.header-contenedor h1{
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    text-shadow: 3px 3px 0 #4d0606;
}

.header-contenedor p, .footer-contenedor p{
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

.img-header{
    min-width: 200px;
    max-width: 500px;
}
/***************************
******************HEADER ANIMACIONES ***************/
.header-contenedor img {
    transition: all 2s 100ms;
    transform: translate(-1500px,0); 
}

.header-contenedor.visible img{
    transform: translate(0,0);
}

.header-contenedor h1 {
    transition: all 3s 400ms;
    transform: translate(1500px,0); 
}

.header-contenedor.visible h1{
    transform: translate(0,0);
}

.header-contenedor p {
    transition: all 4s 600ms;
    transform: translate(-1500px,0); 
}

.header-contenedor.visible p{
    transform: translate(0,0);
}


/***************************
****************** IMAGEN CON TEXTO ENCIMA ***************/

.imagen-contenedor {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen-contenedor img {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

.imagen-contenedor h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    text-shadow: 3px 3px 0 #e60b0b;
    margin-bottom: 20px;
}

.texto-imagen {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    max-width: 80%;
}

.texto-imagen p {
    font-size: 15px;
    font-family: sans-serif;
    color: #770a0a;
}

/**************************
****************** ESCUDERIAS ***************/

.contenedor{
width:100%;
min-width: 500px;
max-width: 1350px;
margin: 0 auto;
padding: 20px;
overflow: hidden;
}

h2{
    color:#e60b0b;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Orbitron", sans-serif; 
    font-weight: 900;
    text-shadow: 3px 3px 0 #fff;
}
.card{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 0#e60b0b;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}
.escuderias{
    transition: transform 300ms;
}
.card img{
    width: 150px; 
    height: auto; 
    border-radius: 10px;
}
.card p{
    font-size: 15px;
    font-family: sans-serif;
}
.resaltar {
    font-weight: bold;
    color: #e60b0b;
}
/**************************
****************** PILOTOS ***************/
h3{
    color:#000000;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Orbitron", sans-serif; 
    font-weight: 900;
}

.card-piloto{
    display: flex;
    justify-content: space-around;
    gap: 20px;                  
}

.piloto{
    background-color: #fff;
    box-shadow: 3px 3px 0#e60b0b;
    width: 400px;
    height: 400px;
    padding: 40px;
    padding-top: 10px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px; 
    opacity: 15%;
    transition: all 300ms;
}

.piloto img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: all 300ms;
    
}

.piloto p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
    
}

/**************************
****************** NEUMÁTICOS***************/

.neumatico-blando {
    transform: translate(-300px,0);
    transition:transform 1s 100ms;
}

.neumatico-blando.visible  {
    transform: translate(0); 
}
.neumatico-medio {
    transform: translate(-300px,0);
    transition:transform 2s 200ms;
}

.neumatico-medio.visible  {
    transform: translate(0); 
}
.neumatico-duro {
    transform: translate(-300px,0);
    transition:transform 3s 300ms;
}

.neumatico-duro.visible  {
    transform: translate(0); 
}


/**************************
****************** CIRCUITOS ***************/

.card-circuitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.circuito {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
}


.circuito img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    opacity: 0;
    transition: all 1.5s 300ms;
    
}

.circuito.visible img{
    opacity: 1;
} 

.circuito h3{
    color: #fff;
    text-shadow: 3px 3px 0 #3d3c3c;
}

.imagen-final img{
    width: 100%;
    margin-bottom: 20px;
    height:100 auto;

}

/**************************
****************** HOVER***************/

.escuderias:hover{
    transform: scale(110%);
}
.piloto:hover {
    opacity: 1;
}
.piloto img:hover{
    transform: scale(120%);
}



/**************************
****************** BG COLOR***************/

.bg-gris-oscuro{
    background-color: #c9c9c9;
}

.bg-rojo{
    background-color: #630000;
}

/**************************
****************** FOOTER ***************/

.footer p{
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}
